# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
predanal/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log
*.out

# Data files
data/
*.csv
*.xlsx
*.json

# IDE Configurations
.idea/
.vscode/

# Operating System Files
.DS_Store

# Python-specific settings
*.env
